@model Trash_Collector.Models.Customer


@{
    ViewData["Title"] = "Approve";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<h1>Approve Today's Trash Pickup</h1>

<h4>Customer: @Model.FirstName @Model.LastName</h4>
<hr />
<p class="blockquote">Please select the confirmation box at the bottom of the page to Confirm 
    the Daily Pickup or the Custom Pickup</p>
<div class="row">
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.City)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.City)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.State)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.State)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ZipCode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ZipCode)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DayWeek)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DayWeek)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CustomPickup)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CustomPickup)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SuspendStart)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SuspendStart)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SuspendEnd)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SuspendEnd)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerBalance)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CustomerBalance)
        </dd>
    </dl>
    <br /><br />
    <div class="col-md-4">
        <form asp-action="Approve">
            <input type="hidden" asp-for="Id" />

            @*<div class="form-group">
                    <label asp-for="FirstName" class="control-label"></label>
                    <input asp-for="FirstName" class="form-control" />
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="LastName" class="control-label"></label>
                    <input asp-for="LastName" class="form-control" />
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PhoneNumber" class="control-label"></label>
                    <input asp-for="PhoneNumber" class="form-control" />
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Address" class="control-label"></label>
                    <input asp-for="Address" class="form-control" />
                    <span asp-validation-for="Address" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="City" class="control-label"></label>
                    <input asp-for="City" class="form-control" />
                    <span asp-validation-for="City" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="State" class="control-label"></label>
                    <input asp-for="State" class="form-control" />
                    <span asp-validation-for="State" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ZipCode" class="control-label"></label>
                    <input asp-for="ZipCode" class="form-control" />
                    <span asp-validation-for="ZipCode" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CustomPickup" class="control-label"></label>
                    <input asp-for="CustomPickup" class="form-control" />
                    <span asp-validation-for="CustomPickup" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CustomerBalance" class="control-label"></label>
                    <input asp-for="CustomerBalance" class="form-control" />
                    <span asp-validation-for="CustomerBalance" class="text-danger"></span>
                </div>*@
            <div class="form-group">
                <label class="control-label">Pickup Is Complete</label>
                <input asp-for="BeenPicked" class="form-control"/>
                <span asp-validation-for="BeenPicked" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Submit" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
